html, body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}
.wrapper {
    background-color: rgba(255,255,255,0.75);
    background-image: url(images/subtle-white.jpeg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-blend-mode: overlay;
}
body > * {
    box-sizing: border-box;
    font-size: 1rem;
}
.container {
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
}
section { 
    margin-bottom: 90px;
}
.welcome {
    margin-top: 120px;
}
.items {
    display: flex;
    flex-direction: column;
}
.item {
    background: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 3px;
}
footer {
    display: flex;
}
footer .column {
    width: 33.33%;
}
footer a {
    text-decoration: none;
    color: gray;
}
@media (min-width: 650px) {
    body > * {
        box-sizing: border-box;
        font-size: 1.25rem;
    }
    .items {
        flex-direction: row;
    }
    .item {
        background: white;
        margin: 0 10px;
    }
}